
.news-page .header{
    width: 100%;
}
.block-7{
    display: inline-block;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 100px;
    background: #192537;
}
.block-7 .block-title{
    font-family: 'Circe-Regular', serif;
    font-size: 36px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: #FFFFFF;
}
.news-page .info-container{
    width: 100%;
    height: 100%;
    margin-left: 63px;
}
.news-page .news-content{
    width: 100%;
    height: 100%;
    display: inline-block;

    margin-bottom: 40px;
    margin-top: 40px;
}
.news-item-wrapper{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    width: 1250px;
    height: 100%;
    padding: 20px;
    display: block;
}
.news-item{
    width: 100%;
    height: 100%;
    display: inline-flex;
}
.news-item-header{
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;

}
.news-item-title{
    font-family: 'Circe-Regular', serif;
    font-size: 20px;
    display: inline-flex;
    font-weight: bold;
    float: left;
}
.news-item-date{
    display: inline-flex;
    font-family: 'Circe-Regular', serif;
    font-size: 18px;
    float: right;
}
.news-item-text{
    font-family: 'Circe-Regular', serif;
    font-size: 14px;
    display: block;
    margin-top: 20px;
}
.news-page .slider-container{
    width: 600px;
    height: 400px;
}

@media (max-width: 900px) {
    .news-page .news-content{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .news-item-wrapper{
        width: 100%;
    }
    .news-page .photo{
        width: 400px;
    }
    .news-page .slider-container{
        width: 100%;
        height: 100%;

    }
    .news-page .news-img{
        flex: 0;
        float: left;
        object-fit:scale-down;
        height: 80%;
        width: 52%;

        background: #192537;
        border-radius: 10px;
    }
    .news-page .news-item-wrapper{
        width: 100%;
        height: 100%;

        align-items: center;
        justify-content: center;
    }
    .news-item{
        display: block;
        margin-left: auto;
        align-self: center;
        justify-content: center;
    }
    .news-item .info,.photo{
        width: 100%;
        height: 100%;
        display: inline-flex;
    }
    .news-item .info{
        all: initial;
        margin-bottom: 20px;
        display: block;
    }
    .news-item-title{
        all: initial;
        font-family: 'Circe-Regular', serif;
        font-size: 20px;
        display: block;
        width: 100%;
        font-weight: bold;
        float: left;

    }
    .news-item-date{
        all: initial;
        font-family: 'Circe-Regular', serif;
        font-size: 12px;
        display: block;
        width: 100%;
        font-weight: bold;
        float: left;
    }
    .news-item-text{
        all:initial;
        font-family: 'Circe-Regular', serif;
        font-size: 14px;
        display: block;

    }
    .news-page .info-container{
        margin-left: 0;
        margin-top: 10px;
    }
    .news-item-header{
        display: block;
        height: 100%;
    }
}