.header{
    display: inline-flex;
    align-items: center;
    height: 60px;
    background: #FFFFFF;
    width: 100%;
}
.header-fixed{
    position: fixed;
}
.header-scroll-up{
    transition: 0.3s ease-in-out;
    transform: translate3d(0,0,0);
}
.header-scroll-down{
    transition: 0.2s ease-in-out;
    transform: translateY(-100%) !important;
}

.header .header-block{
    width: 100%;
    height: 100%;
    align-items: center;
    display: inline-flex;
}

.header .header-block .header-org-title{
    font-family: 'Circe-Regular', serif;
    font-size: 16px;
    margin-left: 20px;
}
.header .header-block a{
    font-family: 'Circe-Regular', serif;
    font-size: 14px;
    margin-left: 27px;
    text-decoration: none;
    color: black;
    padding-bottom: 1px;
}
.header .header-block a:first-child{
    margin-left: 0;
}
.header .header-block a:hover{
    border-bottom: 1px solid black;
    animation: slowly-border 1s ease-in-out infinite;
}
@keyframes slowly-border {
    0% {
        border-bottom: 1px solid white;
    }
    50% {
        border-bottom: 1px solid black;
    }
    100% {
        border-bottom: 1px solid white;
    }
}

.header .menu-icon{
    padding: 10px;
}
.header .menu-content{
    z-index: 2;
    position: absolute;
    top: 60px;
    right: 0;

    background: #FFFFFF;
    border-radius: 10px 0 10px 10px;
    padding: 10px;
    user-select: none;
}
.header .menu-content div{
    display: block;
    background: #ececec;
    padding: 10px;
    border-radius: 10px;
}
.header .menu-content div:not(:first-child){

    margin-top: 5px;
}
.header .menu-content div:hover{
    background: #d9d9d9;
    cursor: pointer;
}
.header .menu-content a{
    margin-left: 27px;
    font-family: 'Circe-Regular', serif;
    font-size: 14px;
    text-decoration: none;
    color: black;
    padding-bottom: 1px;
}
.header .menu-screen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.9;
    user-select: none;
    z-index: 3;
}
.header .menu-screen .top{
    display: flex;
    align-items: center;
}
.header .menu-screen .top .logo{
    padding: 7px;
}
.header .menu-screen .top .phone{
    padding: 7px;
    font-family: 'Circe-Regular', serif;
    font-size: 16px;
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}

.header .menu-screen .group{
    display: flex;
    align-items: center;
}
.header .menu-screen .sub-group{
    display: flex;
    align-items: center;
    margin-left: 50px;
}
.header .menu-screen .group a{
    font-family: 'Circe-Regular', serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding-bottom: 1px;
}
.header .menu-screen .middle{
    height: calc(100% - 154px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.header .menu-screen .bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .menu-screen .bottom .icon{
    padding: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}