@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
    font-family: 'Inter';
    src:
     url('../../../res/fonts/Inter/Inter-VariableFont_slnt,wght.ttf')  format('truetype');
}
@font-face {
    font-family: 'Open Sans';
    src:
     url('../../../res/fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf')  format('truetype');
}
@font-face {
    font-family: 'Circe-Regular';
    src:
            url('../../../res/fonts/CirceRegular.ttf')  format('truetype');
}
.page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content{
    height: 100%;
}

.content .block-0 {
    display: inline-flex;
    width: 100%;
    height: 625px;
    justify-content: center;
    align-items: center;
    background: #192537;
}
.content .block-0 .about-title{
    font-family: 'Circe-Regular', serif;
    font-size: 36px;
    color: white;
}
.content .block-0 .about-text{
    font-family: 'Circe-Regular', serif;
    font-size: 16px;
    color: white;
    display: block;
    margin-top: 16px;
    width: 413px;
}
.content .block-0 .go-to-btn{
    width: 200px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 90px;
    font-family: 'Circe-Regular', serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    cursor: pointer;


    box-shadow: 5px 5px 10px #9b9b9b;
}
.content .block-0 .go-to-btn a{
    text-decoration: none;
    color: black;
}
.content .block-0 .go-to-btn:hover{
    animation: anim-shadow 1s ease-in-out infinite;
}
@keyframes anim-shadow {
    0% {
        box-shadow: 5px 5px 10px #9b9b9b;
    }
    50% {
        box-shadow: 0 0 10px #9b9b9b;
    }
    100% {
        box-shadow: 5px 5px 10px #9b9b9b;
    }
}


.content .block-0 .block-0-logo{
    margin-left: 10%;
}



.content .block-1{

    display: inline-block;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}
.content .block-1 .block-header{
    font-family: 'Circe-Regular', serif;
    font-size: 36px;
    align-self: center;
    text-align: center;
    display: block;
    margin-top: 32px;
    margin-bottom: 32px;
}
.content .block-1 .objects-container{


    height: 100%;

    justify-content: center;
    align-items: center;
    display: flex;

}
.content .block-1 .objects{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    height: 100%;
    width:100%;

    justify-content: center;
    align-items: baseline;
    padding-bottom: 40px;
    margin-left: auto;
}

.content .block-last-commercial-objects .object, .block-1 .object{
    border-radius: 40px;
    border: 1px solid #BCBCBC;
    display:inline-block;

    max-width: 600px;
    min-width: 600px;

    margin: 40px;

}
.content .block-last-commercial-objects .object-data, .block-1 .object-data{
    padding-bottom: 40px;
}
.content .block-last-commercial-objects .object-data .section, .block-1 .object-data .section{
    padding-left: 20px;
    display: inline-block;
    width: 50%;
    height: 100%;
}
.content .block-last-commercial-objects .object-data .object-name, .block-1 .object-data .object-name{
    margin-top: 22px;
    font-family: 'Circe-Regular', serif;
    font-size: 24px;
    display: block;
}
.content .block-last-commercial-objects .object-data .object-address, .block-1 .object-data .object-address{
    font-family: 'Circe-Regular', serif;
    font-size: 14px;
    display: block;
    margin-top: 9px;
}
.content .block-last-commercial-objects .object-data .object-feature, .block-1 .object-data .object-feature{
    font-family: 'Circe-Regular', serif;
    font-weight: 200;
    font-size: 14px;
    display: block;
    margin-top: 9px;
}
.content .block-last-commercial-objects .object-data .look-btn, .block-1 .object-data .look-btn{
    width: 169px;
    height: 45px;
    background: #DFFFD7;
    border-radius: 90px;
    font-family: 'Circe-Regular', serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    cursor: pointer;
}
.content .block-last-commercial-objects .object-data .look-btn:hover, .block-1 .object-data .look-btn:hover{
    background: #4fe89b;
}
.content .block-last-commercial-objects .object-data .price, .block-1 .object-data .price{
    font-family: 'Circe-Regular', serif;
    font-size: 36px;
    float: right;
    margin-right: 40px;
}
.content .block-last-commercial-objects .object-data .price .bold, .block-1 .object-data .price .bold{
    font-weight: bold;
}


* {
    box-sizing: border-box;
}


.loading-container {
    width: 100%;
    max-width: 520px;
    text-align: center;
    color: #012980;
    position: relative;
    margin: 0 32px;
}
.loading-container:before {
    content: "";
    position: absolute;
    width: 100%;
    background-color: #fff;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    -webkit-animation: movingLine 2.4s infinite ease-in-out;
    animation: movingLine 2.4s infinite ease-in-out;
}

@-webkit-keyframes movingLine {
    0% {
        opacity: 0;
        width: 0;
    }
    33.3%, 66% {
        opacity: 0.8;
        width: 100%;
    }
    85% {
        width: 0;
        left: initial;
        right: 0;
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}

@keyframes movingLine {
    0% {
        opacity: 0;
        width: 0;
    }
    33.3%, 66% {
        opacity: 0.8;
        width: 100%;
    }
    85% {
        width: 0;
        left: initial;
        right: 0;
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}
.loading-text {
    font-size: 5vw;
    line-height: 64px;
    letter-spacing: 10px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-evenly;
}
.loading-text span {
    -webkit-animation: moveLetters 2.4s infinite ease-in-out;
    animation: moveLetters 2.4s infinite ease-in-out;
    transform: translatex(0);
    position: relative;
    display: inline-block;
    opacity: 0;
    text-shadow: 0 2px 10px rgba(46, 74, 81, 0.3);
}

.loading-text span:nth-child(1) {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

.loading-text span:nth-child(2) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.loading-text span:nth-child(3) {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.loading-text span:nth-child(4) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.loading-text span:nth-child(5) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.loading-text span:nth-child(6) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.loading-text span:nth-child(7) {
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}

@-webkit-keyframes moveLetters {
    0% {
        transform: translateX(-15vw);
        opacity: 0;
    }
    33.3%, 66% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(15vw);
        opacity: 0;
    }
}

@keyframes moveLetters {
    0% {
        transform: translateX(-15vw);
        opacity: 0;
    }
    33.3%, 66% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(15vw);
        opacity: 0;
    }
}
.socials {
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
}

.social-link {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin-right: 12px;
}

.content .block-1 .objects-type-switcher{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content .block-1 .switcher-btn{
    cursor: pointer;
    margin: 0 10px;
    padding: 10px;
    background: #c1c6d9;
    border-radius: 10px;
    width: 200px;
    text-align: center;
}
.content .block-1 .switcher-btn-active{
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    background: #091431;
    color: white;
    cursor: default;
}
.content .block-1 .switcher-btn:hover{
    background: #e2e4ec;
}
.objects-page .info-container{
    width: 100%;
    height: 100%;
    margin-left: 63px;
}

.objects-page .slider-container{
    width: 600px;
    height: 400px;
}



.home-page .block-last-commercial-objects{
    width: 100%;
    height: 100%;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.home-page .block-last-commercial-objects-title{
    font-family: 'Circe-Regular', serif;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.home-page .block-last-commercial-objects-items{
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: center;
}
.home-page .block-last-commercial-objects-item{

    height: 100%;
    display: block;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

}
.home-page .block-last-commercial-objects-items .object{
    max-width: 600px;
    display:block;
    margin: 20px;
}

.block-last-news{

}
.home-page .news-item-wrapper{
    background: #FFFFFF;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    align-self: center;
}
.home-page .block-last-news-item{

    display: inline-block;
    border-radius: 45px;
    padding: 20px;
    background: #ececec;
}
.news-item-title{
    font-family: 'Circe-Regular', serif;
    font-size: 20px;
    display: inline-flex;
    font-weight: bold;
    float: left;
    margin-top: 10px;
}
.news-item-date{
    display: inline-flex;
    font-family: 'Circe-Regular', serif;
    font-size: 18px;
    float: right;
    margin-top: 10px;
}
.news-item-text{
    font-family: 'Circe-Regular', serif;
    font-size: 14px;
    display: block;
    margin-top: 10px;
}
.home-page .block-last-news .last-news-header{
    font-family: 'Circe-Regular', serif;
    font-size: 36px;
    display: block;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.home-page .center-aligner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.home-page .block-last-news-item .slider-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.home-page .block-last-news-item .slider-container .slider{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
.home-page .see-all-btn-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.home-page .see-all-btn{
    font-family: 'Circe-Regular', serif;
    font-size: 20px;
    display: inline-flex;
    float: left;
    margin-top: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 40px;
    border: 1px solid #000000;
}
.home-page .see-all-btn:hover{
    background: #000;
    color: white;

}
@media (max-width: 900px) {
    .home-page .news-content{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .news-item-wrapper{
        width: 100%;
    }
    .home-page .photo{
        width: 400px;
    }
    .home-page .block-last-news-item .slider-container{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
    }
    .home-page .block-last-news-item .slider-container .slider{
        width: 100%;
    }
    .home-page .news-img{
        flex: 0;
        float: left;
        object-fit:scale-down;
        height: 80%;
        width: 52%;

        background: #192537;
        border-radius: 10px;
    }
    .home-page .news-item-wrapper{
        width: 100%;
        height: 100%;

        align-items: center;
        justify-content: center;
    }
    .news-item{
        display: block;
        margin-left: auto;
        align-self: center;
        justify-content: center;
    }
    .news-item .info,.photo{
        width: 100%;
        height: 100%;
        display: inline-flex;
    }
    .news-item .info{
        all: initial;
        margin-bottom: 20px;
        display: block;
    }
    .news-item-title{
        all: initial;
        font-family: 'Circe-Regular', serif;
        font-size: 20px;
        display: block;
        width: 100%;
        font-weight: bold;
        float: left;

    }
    .news-item-date{
        all: initial;
        font-family: 'Circe-Regular', serif;
        font-size: 12px;
        display: block;
        width: 100%;
        font-weight: bold;
        float: left;
    }
    .news-item-text{
        all:initial;
        font-family: 'Circe-Regular', serif;
        font-size: 14px;
        display: block;

    }
    .news-page .info-container{
        margin-left: 0;
        margin-top: 10px;
    }

    .news-item-header{
        display: block;
        height: 100%;
    }
    .home-page .block-last-news-item{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20px;
    }
    .content .block-last-commercial-objects .object{
        min-width: initial;
    }
    .content .block-last-commercial-objects .object .price{
        font-size: 20px;
    }

}